<div class="first-view">
  <div class="container">
    <h2 class="page-title">Potepan Shareで<br>まだ体験したことのない<br>旅をしよう</h2>
    <div class="search-form">
      <%= form_with(url: rooms_path, method: :get, local: true, html: { class: "form-inline" }) do |f| %>
        <div class="form-group">
          <%= f.label :prefecture, "都道府県で検索", class: "form-label" %>
          <%= f.select :prefecture, ['北海道', '東京都', '大阪府', '京都府'], { include_blank: 'すべて' }, { class: "form-select" } %>
        </div>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="recommendations-title">おすすめエリア</h3>
  <ul class="recommendations-list">
    <li class="recommendations-item tokyo">
      <%= link_to rooms_path(prefecture: '東京都'), class: "recommendations-link" do %>
        <span class="prefecture-name">東京都</span>
      <% end %>
    </li>
    <li class="recommendations-item osaka">
      <%= link_to rooms_path(prefecture: '大阪府'), class: "recommendations-link" do %>
        <span class="prefecture-name">大阪府</span>
      <% end %>
    </li>
    <li class="recommendations-item kyoto">
      <%= link_to rooms_path(prefecture: '京都府'), class: "recommendations-link" do %>
        <span class="prefecture-name">京都府</span>
      <% end %>
    </li>
    <li class="recommendations-item hokkaido">
      <%= link_to rooms_path(prefecture: '北海道'), class: "recommendations-link" do %>
        <span class="prefecture-name">北海道</span>
      <% end %>
    </li>
  </ul>
</div>




