<h1>予約一覧</h1>

<table class="room-table">
  <thead>
    <tr>
      <th class="room-header">画像</th>
      <th class="room-header">施設名</th>
      <th class="room-header">紹介文</th>
      <th class="room-header">合計料金</th>
      <th class="room-header">チェックイン</th>
      <th class="room-header">チェックアウト</th>
      <th class="room-header">予約確定日時</th>
      <th class="room-header">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td class="room-data">
          <%= image_tag reservation.room.image.url, class: "room-image" %>
        </td>
        <td class="room-data"><%= reservation.room.name %></td>
        <td class="room-data"><%= reservation.room.description %></td>
        <td class="room-data"><%= reservation.total_price %></td>
        <td class="room-data"><%= reservation.check_in.strftime("%Y/%m/%d") %></td>
        <td class="room-data"><%= reservation.check_out.strftime("%Y/%m/%d") %></td>
        <td class="room-data"><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td class="room-data">
          <%= link_to '削除', room_reservation_path(reservation.room, reservation), method: :delete, data: { confirm: '予約を削除してよろしいですか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


