<%= link_to '施設の新規登録', new_room_path %>
<%= link_to '登録済み一覧', own_rooms_path %>
<%= link_to 'アカウント設定', users_account_path %>
<%= link_to '予約一覧', user_reservations_path %>

<h2>登録済み一覧</h2>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag room.image.url %></td>
        <td><%= room.name %></td>
        <td><%= room.description %></td>
        <td><%= room.price %></td>
        <td><%= room.updated_at.to_s(:datetime) %></td>
        <td><%= link_to '詳細', room %></td>
      </tr>
    <% end %>
  </tbody>
</table>
