<%= link_to '施設の新規登録', new_room_path %>

<h2>登録済み一覧</h2>
<%= render 'shared/room_table' %>

<%= form_with(url: rooms_path, method: :get, local: true) do |f| %>
  <%= f.label :prefecture, "都道府県で検索" %>
  <%= f.select :prefecture, ['北海道', '東京都', '大阪府', '京都府'], include_blank: 'すべて' %>
  <%= f.submit "検索" %>
<% end %>
